# See the documentation for all Supabase environment variables:
# https://supabase.com/docs/guides/getting-started/quickstarts/nextjs

NEXT_PUBLIC_SUPABASE_URL="https://zdzfiehcchfwbkkfjemh.supabase.co"
NEXT_PUBLIC_SUPABASE_ANON_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InpkemZpZWhjY2hmd2Jra2ZqZW1oIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzc3OTk3ODEsImV4cCI6MjA5MzM3NTc4MX0.lzOxf7MpCQWzgWZ1sxy1kXe12ikq0lwMkYaDcAGF7dQ"
RESEND_API_KEY="re_cT6NTMNV_FtPe91qEv8xGuoow9AogrFV5"
# Sentry Configuration
NEXT_PUBLIC_SENTRY_DSN="https://e8a640457a85ea82d27123d4ed3e41fe@o4511426758770688.ingest.us.sentry.io/4511426772336640"
SENTRY_AUTH_TOKEN="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"
# Upstash Redis Configuration
UPSTASH_REDIS_REST_URL="https://literate-silkworm-41960.upstash.io"
UPSTASH_REDIS_REST_TOKEN="AaPoAAIgcDFjYzlkZmU2YTI0OTg0YTg4OGIwNmE0M2Q0NjIxMzY4NQ"

# Upstash QStash Configuration
QSTASH_URL="https://qstash.upstash.io/v2"
QSTASH_TOKEN="your_qstash_token"
QSTASH_CURRENT_SIGNING_KEY="your_current_signing_key"
QSTASH_NEXT_SIGNING_KEY="your_next_signing_key"
NEXT_PUBLIC_APP_URL="http://localhost:3000"